/* Zmiana koloru nazw plików w File Explorer */
.nav-file-title-content {
  color: #E0E7FF !important; /* dowolny kolor, np. pomarańczowy, #E0E7FF -jasnoniebieski */
}

/* Zmiana koloru nazw FOLDERÓW */
.nav-folder-title-content {
  color: #7CCF35 !important; /* np. #4CAF50 -zielony, #2196F3 -niebieski, #86A2FF -jasno niebieski */
  font-weight: bold !important; /* pogrubienie */
}

/* Opcjonalnie: kolor AKTYWNEGO pliku */
.nav-file-title.is-active .nav-file-title-content {
  color: #FFC800 !important; /* np. 4CAF50 -zielony, #A862F9 -foletowy, #FFEC5C -zółty */
  font-weight: bold !important; /* pogrubienie */
}

.nav-file-title.is-active {
/*  background-color: #FFE082 !important; */
  border: 1px solid #FF9800 !important;
  border-radius: 4px;
}


/* Kolorowanie nazw plików zawierających "Raport" w nazwie */
.nav-file-title[data-path*="Raport"] .nav-file-title-content {
  color: #FF9800 !important; /* Pomarańczowy */
}
