
/* === Obsidian Preview Mode CSS Syntax Highlighting for CSS Code Blocks === */

/* Selektory */
code.language-css span.token.selector {
  color: #FB2C36 !important;
}

/* Właściwości #21BCFF #5C9DFF #5CCEFF - niebieskawe #7BF1A8 - zielonkowe */
code.language-css span.token.property {
  color: #5CCEFF !important;
}

/* Wartości */
code.language-css span.token.string,
code.language-css span.token.number,
code.language-css span.token.unit {
  color: #FF8904 !important;
}

/* Komentarze */
code.language-css span.token.comment {
  color: #31C950 !important;
}
